{% extends "blog/base.html" %}

{% block title %}
  {% if object %}
    Edit post "{{ object.title }}"
  {% else %}
    Create a new post
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% if object %}
      Edit course "{{ object.title }}"
    {% else %}
      Create a new post
    {% endif %}
  </h1>
  <div class="module">
    <h2>Post Entry</h2>
    <form action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Save post"></p>
    </form>
  </div>
{% endblock %}
